.supportOrgInfo {
  flex-wrap: wrap;
  align-items: center;

  
  & > div {
    min-height: 144px;
  }

  img {
    max-height: 144px;
    max-width: 100%;
    width: auto;
    border-radius: 0 !important;
  }
}
.supportOrgAspect {
  aspect-ratio: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
