@use "bulma/sass/utilities/mixins";

.cfpPage {
  &__hero {
    background-size: cover;
    background-position: center center;
    background-image: url("./cfp-sm.webp");

    @include mixins.tablet {
      background-image: url("./cfp-md.webp");
    }
    @include mixins.desktop {
      background-image: url("./cfp-lg.webp");
    }
    @include mixins.widescreen {
      background-image: url("./cfp-xl.webp");
    }
    @include mixins.fullhd {
      background-position: center top;
    }

    &__title, &__subtitle {
      --bulma-title-color: #fff;
      --bulma-subtitle-color: #fff;
    }
  }
  &__button {
    background-color: var(--brand-color-yellow);
    color: var(--brand-color-blue);
  }
}
