.homePage {
  &__cover {
    background-image: url(../assets/images/cover.png);
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    height: calc(100vw/1280*700);/* W:H = 1280:700 */
    background-position: center;
    background-size: cover;
    @media (orientation: portrait) {
      height: calc(100vw/850*700);
    }
  }
}
